.git
deploy/app
deploy/worker
deploy/mysql
deploy/env
mysqldata
nginx
redis
node_modules
public/img
public/js
public/vendor
public/tenancy
docker-compose.yml
local-volumes.yaml
mysql-deployment.yaml
docker-compose.yml.example
.idea
.DS_Store
storage/logs/*.log
